<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预定座位</title>
    <style>
        div {
            width: 1000px;
            height: 400px;
            border: 2px solid #008800;
        }
        div>span {
            display: inline-block;
            width:100px;
            height:100px;
            float: left;
            margin:12px;
            background-color: #008800;
            color:blue;

        }
    </style>
</head>
<body>
    <h1>预定座位</h1>
    <hr>
    <div>
        <span>请选择1号</span>
        <span>请选择2号</span>
        <span>请选择3号</span>
        <span>请选择4号</span>
        <span>请选择5号</span>
        <span>请选择6号</span>
        <span>请选择7号</span>
        <span>请选择8号</span>
        <span>请选择9号</span>
        <span>请选择10号</span>
        <span>请选择11号</span>
        <span>请选择12号</span>
        <span>请选择13号</span>
        <span>请选择14号</span>
        <span>请选择15号</span>
        <span>请选择16号</span>
        <span>请选择17号</span>
        <span>请选择18号</span>
        <span>请选择19号</span>
        <span>请选择20号</span>
        <span>请选择21号</span>
        <span>请选择22号</span>
        <span>请选择23号</span>
        <span>请选择24号</span>
    </div>
    <hr>
请选择座位号: <input type="text"> | <input type="submit" placeholder="预定">
</body>
</html>